* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid black; */
}
html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    display: block;
    color: black;
}
li {
    list-style-type: none;
}


.header {
    width: 100%;
    height: 80px;

    position: fixed;
    background-color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .logo {
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
.header .menu {
    width: 400px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu li {
    width: 25%;
    text-align: center;
}
.header .menu li a {
    font-weight: bold;
    font-size: 20px;

    transition: 0.1s;
}
.header .menu li a:hover {
    color: #693;
}


.main {
    
    width: 100%;
    height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/bg.jpg);
    background-size: cover;

    color: white;

    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
}
.main h1 {
    font-size: 50px;
    margin-bottom: 50px;
}
.main h2 {
    font-size: 40px;

}
.main h3 {
    font-size: 30px;
    font-weight: normal;

    margin-bottom: 50px;
}


.about{
    width: 1200px;
    height: 800px;
    margin: 0 auto;

    margin-top: 100px;

}
.about h2{
    font-size: 40px;
    color: #693;
}
.about h1{
    font-size: 50px;
}
.about .contents{
    width: 100%;
    height: 500px;
    display: flex;

}
.about .left{
    width: 400px;
    height: 500px;
}
.about .left img{
    width: 400px;
    height: 600px;
}
.about .right{
    width: 800px;
    height: 500px;
    
    padding-left: 50px;
}
.about .right h1{
    font-size: 30px;
}
.about .right span{
    color: #693;
}
.about .right li{
    font-size: 23px;
    margin-bottom: 20px;
}
.fa-facebook{
    font-size: 50px;
    color: #3b5998;
    margin-right: 10px;
}
.fa-youtube{
    font-size: 50px;
    color: red;
    margin-right: 10px;
}
.fa-instagram{
    font-size: 50px;
    color: #d9d;
    margin-right: 10px;
}


.bg{
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.skills{
    background-color: #eee;
    width: 100%;
    height: 700px;
}
.skills .title{
    background-color: #ccc;

    font-size: 50px;
    text-align: center;
}
.skills-inner{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}
.skills ul{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;

}
.skills ul li{

    width: 200px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    background-color: white;

    padding: 20px;

    transition: 0.1s;

}
.skills .contents li:hover{
    background-color: #693;
    color: white;
    border-radius: 15px;
}
.skills h3{
    font-size: 30px;
    margin-bottom: 20px;

}


.project{
    height: 1200px;
    margin-top: 0;

}